extends layout
block content
  FCC-Timestamp API by malchemist
  h2 Image Abstraction
  p.red Example Usage
  code http://localhost:3050/api/imagesearch/cats

  p.red Expected Output in JSON
  code [{"url":"http://i.imgur.com/lSVQ4wj.jpg","snippet":"my two cats love cuddling!!","context":"https://imgur.com/lSVQ4wj"},{"url":"http://i.imgur.com/CYewF1k.gif","snippet":"If cats could talk","context":"https://imgur.com/CYewF1k"},{"url":"http://i.imgur.com/oQy59Lt.gif","snippet":"Clever cats.","context":"https://imgur.com/oQy59Lt"},{"url":"http://i.imgur.com/EGTPLAx.gif","snippet":"Cats love butt stuff.","context":"https://imgur.com/EGTPLAx"},{"url":"http://i.imgur.com/F8TJj7Wh.gif","snippet":"Imgur loves cats...but does Imgur love cats enough to put one on it's hind legs using the litterbox on the Front Page? ","context":"https://imgur.com/F8TJj7W"}]
