extends layout
block content
  FCC-Timestamp API by malchemist
  h2 Image Abstraction
  p.red Example Usage
  code https://fcc-image-abstarction-layer.herokuapp.com/api/imagesearch/cars?offset=10

  p.red Expected Output in JSON
  code [[{"url":"http://i.imgur.com/QnPykMr.jpg","snippet":"Finding cleaned cars or what?","context":"https://imgur.com/QnPykMr"},{"url":"http://i.imgur.com/7vtU0ND.png","snippet":"I am looking at you ugly cars guy.","context":"https://imgur.com/7vtU0ND"},{"url":"http://i.imgur.com/wByWAgV.jpg","snippet":"Aston Martin Cars On Road ","context":"https://imgur.com/wByWAgV"},{"url":"http://i.imgur.com/uH7DqvI.gif","snippet":"Funny little girl dancing in cars and Crying when the music stops","context":"https://imgur.com/uH7DqvI"},{"url":"http://i.imgur.com/9mtdEVW.gif","snippet":"When she accidentally activates the cars vibrating seat. ","context":"https://imgur.com/9mtdEVW"},{"url":"http://i.imgur.com/tcFyRbC.png","snippet":"Cars","context":"https://imgur.com/tcFyRbC"},{"url":"http://i.imgur.com/Fo4qfX7.jpg","snippet":"90 Cars From Nineties","context":"https://imgur.com/Fo4qfX7"},{"url":"http://i.imgur.com/SWcBr00.gif","snippet":"In Finland we have these knitted police cars","context":"https://imgur.com/SWcBr00"},{"url":"http://i.imgur.com/StmpMcP.jpg","snippet":"Cars","context":"https://imgur.com/StmpMcP"}]]

  p.red Example Usage
  code https://fcc-image-abstarction-layer.herokuapp.com/latest

  p.red Expected Output in JSON
  code [{"term":"cars","timeStamp":"+049268-08-13T08:37:03.000Z"}]
